<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Board Read Page</h1>

        <div class="form-group">
            <label >Bno</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly >
        </div>

        <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
        </div>
        <div class="form-group">
            <label >Content</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label >Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label >RegDate</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label >ModDate</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/board/modify(bno = ${dto.bno},page = ${requestDTO.page})}">
            <button type="button" class="btn btn-primary">Modify</button>
        </a>

        <a th:href="@{/board/list(page =${requestDTO.page})}">
            <button type="button" class="btn btn-info">List</button>
        </a>
        <!--모달창-->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="replyText" placeholder="Reply Text....">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="replyer" placeholder="Replyer">
                            <input type="hidden" name="rno">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger replyRemove">Remove</button>
                        <button type="button" class="btn btn-warning replyModify">Modify</button>
                        <button type="button" class="btn btn-primary replySave">Save</button>
                        <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--댓글 카운트 표시-->
        <div>
            <div class="mt-4">
                <!--댓글 추가-->
                <h5><span class="badge badge-info addReply">AddReply</span></h5>
                <h5><span class="badge-secondary replyCount">ReplyCount [[${dto.replyCount}]]</span></h5>
            </div>
            <div class="list-group replyList">

            </div>
        </div>
        <script th:inline="javaScript">
            const replyCount = document.querySelector(".replyCount");
            const listGroup = document.querySelector(".replyList");
            let bno = [[${dto.bno}]];
            //페이지 로드 시 초기화
            document.addEventListener("DOMContentLoaded", function () {

                replyCount.addEventListener("click", function () {
                    //리스트 중복을 피하기 위한 초기화
                    listGroup.innerHTML = "";
                    loadJSONDate();
                });
            });

            // 날짜 처리를 위한 함수
            function formatTime(str) {
                let date = new Date(str);
                console.log(date)
                return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();
            }

            //댓글 출력 함수
            function loadJSONDate() {
                fetch('/replies/board/' + bno)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        let str = '';
                        replyCount.innerHTML = " ReplyCount " + data.length;

                        data.forEach(function (reply, idx) {
                            console.log(reply);
                            str += '<div class="card-body" data-rno="' + reply.rno + '"><b>' + reply.rno + '</b>';
                            str += '<h5 class="card-title">' + reply.text + '</h5>';
                            str += '<h6 class="card-subtitle mb-2 text-muted">' + reply.replyer + '<h6>';
                            str += '<p class="card-text">' + formatTime(reply.regDate) + '</p>';
                            str += '</div>';
                        });
                        listGroup.innerHTML += str;  // 이 부분을 수정하여 이전 내용에 추가되도록 변경

                    })
                    .catch(error => console.error('Error:', error));
            }

            // 댓글 클릭 상세출력
            listGroup.addEventListener("click",function (event){
               if(event.target.classList.contains("card-body")) {
                   //dataset.rno 는 data-rno 속성의 값을 가져오는것
                   let rno = event.target.dataset.rno;

                   let cardTitleElement = event.target.querySelector('.card-title');
                   let cardSubTitleElement = event.target.querySelector('.card-subtitle')
                   if (cardTitleElement) {
                       // replyText의 값을 클릭된 "card-body"의 .card-title HTML 내용으로 설정
                       replyText.value = cardTitleElement.innerHTML;
                   }
                   if (cardSubTitleElement) {
                       replyer.value = cardSubTitleElement.innerHTML
                   }

                   let inputRno = document.querySelector("input[name ='rno']");
                   inputRno.value = rno;

                   // modal-footer 클래스 내의 모든 버튼을 숨김
                   document.querySelectorAll(".modal-footer .btn").forEach(function(button) {
                       button.style.display = "none";
                   });
                   // .replySave와 .replyRemove 버튼을 보이도록 변경
                   document.querySelector(".replySave").style.display = "block";
                   document.querySelector(".replyRemove").style.display = "block";

                   modal.style.display = "block";
               }
            });

            const modal = document.querySelector(".modal");
            const addReply = document.querySelector(".addReply");
            const closeModalBtn = document.querySelector(".close");
           // 모달 불러오기
            addReply.addEventListener("click",function (){
               modal.style.display = "block";
                // 댓글 입력 부분을 초기화 하는부분
                document.querySelector('input[name="replyText"]').value = '';
                document.querySelector('input[name="replyer"]').value = '';

                // modal-footer 클래스 내의 모든 버튼을 숨김
                document.querySelectorAll(".modal-footer .btn").forEach(function(button) {
                    button.style.display = "none";
                });
                // .replySave와 .replyRemove 버튼을 보이도록 변경
                document.querySelector(".replySave").style.display = "block";
                document.querySelector(".replyRemove").style.display = "block";
            });

            // 모달 x 버튼 클릭 시 닫기
            closeModalBtn.addEventListener("click",function (){
                modal.style.display = "none";
            });

            // 모달 외부 클릭 시 닫기
            window.addEventListener('click', function(event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            });

            // 댓글 객체 만들기
            const replySave = document.querySelector(".replySave");
            let replyText = document.querySelector("input[name = 'replyText']");
            let replyer = document.querySelector("input[name = 'replyer']");
            replySave.addEventListener("click",function (){
                let reply = {
                    bno : bno,
                    text : replyText.value,
                    replyer : replyer.value,
                }

                // Ajax 통신 댓글 추가
                fetch("/replies/",{
                    method : "POST",
                    headers : {
                        "Content-Type" : "application/json",
                    },
                    body : JSON.stringify(reply),
                })
                    .then(response =>{
                        if (!response.ok) {
                            throw new Error("Error");
                        }
                        return response.json();
                    })
                    .then(result => {
                        console.log(result);
                        let newRno = parseInt(result);
                        alert(newRno + "번 등록")
                        modal.style.display = "none";
                        loadJSONDate();
                    })

            });
            // 댓글 삭제기능
            document.querySelector(".replyRemove").addEventListener("click",function (){
               let rno = document.querySelector("input[name = 'rno']").value;
                fetch("replies/" + rno, {
                    method: "DELETE",
                })
                    .then((response) => response.json())
                    .then((data) => console.log(data))
            });

        </script>
    </th:block>
</th:block>